{% extends "base.html" %}

{% block content %}
<div class="box">
    <div class="game-status">
        <div>
            <p>High Score</p>
            <span id="high-score">{{ high_score}}</span>
        </div> 
        <div>
            <p>Game Count</p>
            <span id="game-count">{{ game_count }}</span>
        </div>
    </div>
    <div class="timer-box">
        <div>
            <p>Timer:</p>
            <span id="timer">60</span>
        </div>
    </div>
    <div class="current-game">
        <div class="status-box">
            <div id="result-div">new game</div>
            <div id="score">0</div>
        </div>
        <div class="table">
            <table>
            {% for row in boggle_board %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="guess-box">
            <form id="guess-form">
                <input id="guess" name="guess">
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>  
{% endblock %}