{% extends "base.html" %}

{% block content %}
    <table>
    {% for row in boggle_board %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <form id="guess-form">
        <input id="guess" name="guess">
        <button>Submit</button>
    </form>
    <div id="result-div"></div>
    <div id="score">0</div>
    <div>
        <p>High Score</p>
        <span id="high-score">{{ high_score}}</span>
    </div> 
    <div>
        <p>Game Count</p>
        <span id="game-count">{{ game_count }}</span>
    </div>
{% endblock %}